<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
</head>
<body>
<h1>Registrar Auditoria</h1>
<form action="#" th:action="@{/registrarAuditoria}" th:object="${auditoria}" method="post">
    <label for="auditoriaNombre">Auditoria a realizar</label>
    <input type="text" th:field="*{auditoriaNombre}"  id="auditoriaNombre"/>
    <br>
    <br>
    <label for="fecha">Fecha de la auditoría</label>
    <input type="date" th:field="*{fecha}"  id="fecha"/>
    <br>
    <br>
    <select th:field="*{clienteVisita}">
        <option th:each="entry,status : ${cliente}" th:value="${entry.cedulaJuridica}" th:text="${entry.cedulaJuridica}"></option>
    </select>
    <br>
    <br>
    <input type="submit" value="Registrar Auditoría">
</form>
</body>
</html>